@charset "UTF-8";

/* ナビゲーションバー*/

.navbar {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

.navbar-brand {
  font-size: 25px;
  font-weight: bold;
}

.nav-link {
  margin-right: 15px;
}

.my-navbar-item {
  color: white;
}

/* ナビバーとコンテンツが重ならないようにする設定。welcomeページ以外共通*/

.body {
  padding-top: 6.5rem;
}

/* welcomeページ*/

.jumbotron {
  background-image: url(/images/top_image.jpg?b9101ea0d25f8eaf790fe4fa37aa7095);
  background-size: cover;
  background-position: center 60%;
  border-radius: 0;
}

.jumbotron p {
  margin-top: 30px;
  margin-bottom: 30px;
}

.float-left {
  background: rgba(255, 255, 255, 0.5);
  padding: 30px;
  margin-top: 40px;
}

.feature {
  background-color: #ECF4D9;
  padding: 30px;
  margin-bottom: 30px;
}

.feature i {
  color: green;
  margin-bottom: 15px;
}

.howto {
  text-align: center;
  margin-top: 15px;
}

/* 問題一覧ページ index.blade.php*/

.card {
  background-color: #ECF4D9;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  padding: 15px;
  margin-bottom: 20px;
  margin-right: 0px;
  margin-left: 0px;
}

.card h4 {
  font-weight: bold;
}

.card i {
  color: green;
}

.card a {
  color: #333333;
}

.outer_card {
  margin-bottom: 30px;
  padding-right: 0px;
  padding-left: 0px;
}

.card-deck {
  margin-top: 20px;
}

/* 問題ページ*/

.text {
  background-color: #ECF4D9;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  padding: 15px;
  margin-bottom: 20px;
}

.unit_title {
  margin-bottom: 20px;
}

.btn {
  margin-bottom: 20px;
}

.error p {
  color: red;
  text-align: center;
}

/* 結果ページ*/

.outer_box {
  background-color: #ECF4D9;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  padding: 15px;
  margin-bottom: 20px;
}

